{
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [
          ".ios.js",
          ".android.js",
          ".ios.jsx",
          ".android.jsx",
          ".js",
          ".jsx",
          ".json",
          ".ts",
          ".tsx"
        ],
        "root": ["."],
        "alias": {
          "@components": "./src/components",
          "@providers": "./src/providers",
          "@constants": "./src/constants",
          "@utils": "./src/utils"
        }
      }
    ]
  ]
}
